*{margin: 0;}
html{font-size: 10px;}
body{font-size: : 1rem;}
a{text-decoration: none;}


header{background-color: #000000;width: 100%; height: 8rem; position: fixed;}
header > nav{width: 102.4rem; margin: auto;display:
  flex;justify-content:space-between;align-items: center; height: 8rem;}

header > nav > .menu {display: inline-block;}
header > nav > .menu > ul {list-style: none;}
header > nav > .menu > ul > li {float:left; margin: 0rem 4rem;}
header > nav > .menu > ul > li > a {color: #ffffff; font-family: 'AppleSDGothicNeoM00'
sans-serif;font-size: 2rem; font-weight: 500; letter-spacing: 0.03rem;}


section > .keyvisual {background-image:url("../img/keyvi.png");
background-repeat: no-repeat; background-position: center;}
section > .keyvisual > .keyvisual_wap {margin: auto; width: 102.4rem; height: 545px;}


section > .profile {background-image:url('../img/intro.png'); height: 854px;
background-repeat: no-repeat; background-position: center;}
section > .profile > .profile_wrap{margin: auto; width: 102.4rem;}
section > .profile > .profile_wrap > .profile_00{padding-top: 3rem; margin-left:385px;}
section > .profile > .profile_wrap > .profile_01{padding-top: 28rem; margin-left:70px ;float: left; overflow: hidden;}
section > .profile > .profile_wrap > .profile_02{float: left; padding-top: 18rem;margin-left:225px; overflow: hidden;}
section > .profile > .profile_wrap > .profile_03{margin-left: 590px; margin-top: 38rem;}
section > .profile > .profile_wrap > .profile_04{margin-top: 5rem;}




/*--portfolio 1--*/
section > .pf_1{background-image:url('../img/0_1.png');height: 2916px;
background-repeat: no-repeat; background-position: center; }
section > .pf_1 > .pf_wrap{margin: auto; width: 102.4rem;text-align: center; }
section > .pf_1 > .pf_wrap > .pf_img_0{padding-top: 8rem; }
section > .pf_1 > .pf_wrap > .pf_img_1{padding-top: 13rem; margin-left:730px; }
section > .pf_1 > .pf_wrap > .pf_img_2{padding-top: 90rem; margin-right:730px;}


/*--portfolio 2--*/
section > .pf_2{background-image:url('../img/1_1.png');height: 2171px;
background-repeat: no-repeat; background-position: center;}
section > .pf_2 > .pf_wrap{margin: auto;width: 102.4rem;text-align: center;}
section > .pf_2 > .pf_wrap > .pf_img_0{padding-top: 8rem;}
section > .pf_2 > .pf_wrap > .pf_img_1{padding-top: 65rem; margin-left:670px;}
section > .pf_2 > .pf_wrap > .pf_img_2{padding-top: 37rem; margin-left:660px;}


/*--portfolio 3--*/
section > .pf_3{background-image: url('../img/2_1.png');height: 1379px;
background-repeat: no-repeat; background-position: center;}
section > .pf_3 > .pf_wrap{margin: auto;width: 102.4rem;text-align: center;}
section > .pf_3 > .pf_wrap > .pf_img_0{padding-top: 8rem;}
section > .pf_3 > .pf_wrap > .pf_img_1{padding-top: 12rem; float: left;}


/*--portfolio 4--*/
section > .pf_4{background-image: url('../img/3_1.png');height: 1952px;
background-repeat: no-repeat; background-position: center;}
section > .pf_4 > .pf_wrap{margin: auto;width: 102.4rem;text-align: center;}
section > .pf_4 > .pf_wrap > .pf_img_0{padding-top: 8rem;}
section > .pf_4 > .pf_wrap > .pf_img_1{padding-top: 108.5rem; margin-left:670px; }







footer{background-color: #000000;height: 9rem;}
footer > .footer_wrap{margin: auto;width: 102.4rem;}
footer > .footer_wrap > .footer_logo{float: left;padding-top: 2rem;}
footer > .footer_wrap > .footer_txt{float: right;padding-top: 2.7rem;
  text-align: right;font-family: 'AppleSDGothicNeoM00', sans-serif;font-size: 1.6rem;
  font-weight: 300;letter-spacing: -0.03rem;color: #969696;}
